@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CourseApp</h1>
    <p>
        <a class="btn btn-primary" href="/course/apply">Click to Register for the Course</a>
    </p>
</div>
